.button-container {
  display: flex;
  justify-content: flex-start;
  width: 40vw;
}

.button {
  align-items: center;
  border: solid 2px white;
  border-radius: 40px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 350px;
}

.button:hover {
  cursor: pointer;
}

.selected {
  border-color: #f7d700;
  color: #f7d700;
}