.movie-text {
  width: 25%;
  height: 100vh;
  position: fixed;
  color: #ddbe24;
  font-weight: bolder;
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsWrlqShOpNL4SbAwB24CkJuGgezSJoX5KDsQDGPvTWpa-MtZ8mw)
}

.crawl-text {
  font-size: 35px;
}