.app {
  display: flex;
  align-items: center;
}

.header-parent {
  color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.button-parent {
  color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.movie-parent {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 25%;
}

.card-container-parent {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;

}

.main-section {
  width: 75%;
  min-height: 100vh;
  background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_150538.png)
}
