.App {
  display: flex;
  align-items: center;
}

.header-parent {
  display: flex;
  justify-content: center;
}

.button-parent {
  display: flex;
  justify-content: center;
}

.movie-parent {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 20%;
}

.main-section {
  width: 80%;
}
