.app {
  align-items: center;
  display: flex;
}

.welcome-message {
  color: #f3f3f3;
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.header-parent {
  color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.button-parent {
  color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.movie-parent {
  align-self: flex-start;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 25%;
}

.card-container-parent {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;

}

.main-section {
  background-color: black;
  min-height: 100vh;
  width: 75%;
}
