.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw; }

.favorites-button {
  height: 3rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
