.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%; }

.favorites-button {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  width: 10rem; }

.fav-num {
  margin-left: 10px; }

.favorites-div {
  cursor: pointer; }

img {
  margin-left: 9rem; }
