.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.favorites-button {
  height: 3rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fav-num {
  margin-left: 10px;
}

.favorites-div {
  cursor: pointer;
}

img {
  margin-left: 9rem;
}